[Desktop Entry]
Type=Application
Name=1337Launcher
Comment=An as-simple-as-possible Minecraft launcher
Exec=1337Launcher
Icon=1337launcher
Categories=Game;
Terminal=false
